<div class="findy--search-export-holder">
    <div class="findy--flex findy--export">
        <button class="findy--search-export-button findy--button-small" style="cursor: pointer; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; background: #E84C4B; border-radius: 8px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex; margin-bottom: 5px; font-weight: 600;">
            💌   Export to CSV
        </button>
    </div>
</div>