<div style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: rgba(232, 76, 75, 0.15); border-radius: 48px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <img src="/icons/info.svg">
    <div style="flex: 1 1 0; align-self: stretch; color: #E84C4B; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word; margin: auto">No profile detected. Refreshing the page might solve the issue</div>
</div>