<div style="width: 424px; background: white; border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <img id='backBtn' class="backBtn" src="/icons/back.svg" style="cursor: pointer;">     
      <div style="flex: 1 1 0; color: #111827; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 32px; word-wrap: break-word">Profile enrichment completed</div>
      <img class="closeBtn" src="/icons/close.svg" style="cursor: pointer;">
    </div>
    <div style="align-self: stretch; padding-top: 16px; padding-bottom: 24px; padding-left: 24px; padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
      <div style="padding-left: 48px; padding-right: 48px; padding-top: 24px; padding-bottom: 24px; background: rgba(232, 76, 75, 0.20); border-radius: 40px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <img src="/icons/celebration.svg">
      </div>
      <div id="foundLabel" style="color: #111827; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Email found !</div>
      <div style="align-self: stretch; height: 96px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
          <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: rgba(232, 76, 75, 0.15); border-radius: 40px; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
            <img style="height: 32px; border-radius: 50%;" id="profilPicture" src="/icons/no_profile.svg">
          </div>
          <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div id="profileName" style="color: #111827; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word"></div>
            <div id="profileCompany" style="color: #6B6B6B; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word"></div>
          </div>
        </div>
        <div style="align-self: stretch; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; padding-left: 12px; padding-right: 12px; padding-top: 9px; padding-bottom: 9px; background: white; border: 0.50px #E0E0E0 solid; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div id="profileEmail" style="color: #111827; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word"></div>
          </div>
          <div style="cursor: pointer; padding: 8.5px; background: #E0E0E0; border-bottom-right-radius: 8px; border-top-right-radius: 8px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <img id="copyEmailBtn" src="/icons/copy_to_clipboard.svg">
          </div>
        </div>
      </div>
      <div id="copyOrContactLabel" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; color: #6B6B6B; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Copy the email above or find it again in your contact list.</div>
      </div>
    </div>
    <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; border-top: 0.50px #E0E0E0 solid; justify-content: flex-end; align-items: center; gap: 16px; display: inline-flex">
      <div class="closeBtn" style="cursor: pointer; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 8px; overflow: hidden; border: 0.50px #E0E0E0 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
        <div style="flex: 1 1 0; text-align: center; color: #111827; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Close</div>
      </div>
      <div id="openContactListBtn" style="cursor: pointer; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: #E84C4B; border-radius: 8px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
        <div style="flex: 1 1 0; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Open contact list</div>
      </div>
    </div>
  </div>
