<div
  style="width: 344px; padding: 16px; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
  <div style="width: 137px; justify-content: center; align-items: center; display: flex">
    <span
      style="color: #111827; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">MO</span>
    <span
      style="color: #E84C4B; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">GO</span>
    <img style="padding-left: 5px;" src="images/logo.svg" height="24px">
  </div>
</div>
<div style="width: 344px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
  <div class="loadingio-spinner-rolling-baeng22xqyg"><div class="ldio-8a9c6h5f4fl">
    <div></div>
    </div></div>
    <style type="text/css">
    @keyframes ldio-8a9c6h5f4fl {
      0% { transform: translate(-50%,-50%) rotate(0deg); }
      100% { transform: translate(-50%,-50%) rotate(360deg); }
    }
    .ldio-8a9c6h5f4fl div {
      position: absolute;
      width: 66px;
      height: 66px;
      border: 4px solid #e84c4b;
      border-top-color: transparent;
      border-radius: 50%;
    }
    .ldio-8a9c6h5f4fl div {
      animation: ldio-8a9c6h5f4fl 0.6578947368421053s linear infinite;
      top: 50px;
      left: 50px
    }
    .loadingio-spinner-rolling-baeng22xqyg {
      width: 81px;
      height: 81px;
      display: inline-block;
      overflow: hidden;
      background: #ffffff;
    }
    .ldio-8a9c6h5f4fl {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.81);
      backface-visibility: hidden;
      transform-origin: 0 0;
    }
    .ldio-8a9c6h5f4fl div { box-sizing: content-box; }
    </style>
    <div style="width: 376px; height: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
        <div id="lookingLabel" style="color: #111827; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Looking for a valid email...</div>
    </div>
</div>
